{% extends 'base.html' %}

{% block content %}
            <div class="container mt-4">
                <div class="row mt-5">

    <!-- LEFT SIDE -->
    <div class="col-12 col-md-8 mt-5">

        <div class="card mb-3">

            <div class="card-header d-flex gap-2">
                <i class="bi bi-list-task"></i>
                Add Category
            </div>

            <div class="card-body">

                <form method="POST">
                    {% csrf_token %}

                    <div class="row mb-2">

                        <div class="col">
                            <label>Parking Area Number</label>
                            <input type="text" name="area_number" class="form-control" value="{{ item.area_number|default:'' }}">
                        </div>

                        <div class="col">
                            <label>Vehicle Type</label>
                            <input type="text" name="vehicle_type" class="form-control" value="{{ item.vehicle_type|default:'' }}">
                        </div>

                    </div>

                    <label>Vehicle Limit</label>
                    <input type="number" name="vehicle_limit" class="form-control mb-2" value="{{ item.vehicle_limit|default:'' }}">

                    <label>Parking Charge</label>
                    <input type="text" name="parking_charge" class="form-control mb-3" value="{{ item.parking_charge|default:'' }}">

                    <button type="submit" class="btn btn-primary w-100">
                        {% if item %} Update {% else %} Submit {% endif %}
                    </button>

                </form>

            </div>

        </div>

    </div>

    <!-- RIGHT SIDE -->
    <div class="col-12 col-md-4 mt-5">

        <div class="card">

            <div class="card-header d-flex gap-2">
                <i class="bi bi-person-arms-up"></i>
                Details
            </div>

            <div class="card-body">

                <div class="form-control d-flex justify-content-between">
                    <span>Car</span>
                    <span>$ 4.00</span>
                </div>

                <div class="form-control d-flex justify-content-between">
                    <span>Motorcycle</span>
                    <span>$ 2.00</span>
                </div>

                <div class="form-control d-flex justify-content-between">
                    <span>Mini Van</span>
                    <span>$ 5.00</span>
                </div>

                <div class="form-control d-flex justify-content-between">
                    <span>Pickup Van</span>
                    <span>$ 5.00</span>
                </div>

                <div class="form-control d-flex justify-content-between">
                    <span>Minibus</span>
                    <span>$ 6.00</span>
                </div>

                <div class="form-control d-flex justify-content-between">
                    <span>Car Type 101</span>
                    <span>$ 7.00</span>
                </div>

            </div>

        </div>

    </div>

</div>
        <div class="col-12 col-sm-6 col-md-12 mt-3">
          <div class="card">
            
            <div class="card-header d-flex justify-content-between align-items-center">
                <span><i class="bi bi-list"></i> Manage Category</span>
                <div>
                    <input type="text" class="form-control form-control-sm" placeholder="Search">
                </div>
            </div>
            <div class="card-body">              
                <!-- Show entries -->
                <div class="d-flex justify-content-between mb-2">
                    <div>
                        Show 
                        <select class="form-select form-select-sm d-inline w-auto">
                            <option>10</option>
                        </select> entries
                    </div>
                </div>
                <!-- Table -->
                <div class="table-responsive">
                    <table class="table table-bordered table-striped text-center">
                        <thead class="table-light">
                            <tr>
                                <th>#</th>
                                <th>Area Number</th>
                                <th>Vehicle Type</th>
                                <th>Vehicle Limit</th>
                                <th>Charge</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in data %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ i.area_number }}</td>
                                <td>{{ i.vehicle_type }}</td>
                                <td>{{ i.vehicle_limit }}</td>
                                <td>{{ i.parking_charge }}</td>
                                <td>
                                    {% if i.status %}
                                    <span class="badge bg-success">Activated</span>
                                    {% else %}
                                    <span class="badge bg-danger">Deactivated</span>
                                    {% endif %}
                                </td>
                                <td>
                                    <div class="d-flex flex-row flex-nowrap gap-1 justify-content-center align-items-center">
                                        <a href="{% url 'toggle_category' i.id %}"
                                            class="btn btn-sm {% if i.status %}btn-danger{% else %}btn-success{% endif %}">
                                            {% if i.status %}Deactivate{% else %}Activate{% endif %}
                                        </a>
                                        <a href="{% url 'edit_category' i.id %}"
                                            class="btn btn-primary btn-sm">
                                            <i class="bi bi-pencil"></i>
                                        </a>
                                        <a href="{% url 'delete_category' i.id %}"
                                            class="btn btn-danger btn-sm">
                                            <i class="bi bi-trash"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        </tbody>
                    </table>
                </div>
                <!-- Pagination -->
                <div class="d-flex justify-content-between">
                    <small>Showing 1 to 6 of 6 entries</small>
                    <div>
                        <td>
                        <div class="d-flex justify-content-between align-items-center mt-3">
                            <small>Page {{ data.number }} of {{ data.paginator.num_pages }}</small>
                            <div>
                                {% if data.has_previous %}
                                <a href="?page={{ data.previous_page_number }}" class="btn btn-light btn-sm">Previous</a>
                                {% endif %}
                                {% for num in data.paginator.page_range %}
                                {% if data.number == num %}
                                <a class="btn btn-primary btn-sm">{{ num }}</a>
                                {% else %}
                                <a href="?page={{ num }}" class="btn btn-light btn-sm">{{ num }}</a>
                                {% endif %}
                                {% endfor %}
                                {% if data.has_next %}
                                <a href="?page={{ data.next_page_number }}" class="btn btn-light btn-sm">Next</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}  