{% extends 'base.html' %}

{% block content %}
        
            <div class="container mt-4">
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-4 mb-3">
                        <div class="card-box bg-info text-white">
                            <h3>{{ parked }} <i class="bi bi-p-square icon"></i></h3>
                            <p>Vehicles Parked</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 mb-3">
                        <div class="card-box bg-dark text-white">
                            <h3>{{ departed }} <i class="bi bi-car-front icon"></i></h3>
                            <p>Departed Vehicles</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 mb-3">
                        <div class="card-box bg-red text-white">
                            <h3>{{ categories }} <i class="bi bi-box icon"></i></h3>
                            <p>Available Category</p>
                        </div>
                    </div>
                    <div class=" col-12 col-sm-6 col-md-4 mb-3">
                        <div class="card-box bg-yellow text-white">
                            <h3>${{ total_earnings }} <i class="bi bi-cash icon"></i></h3>
                            <p>Total Earnings</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 mb-3">
                        <div class="card-box bg-gray text-white">
                            <h3>{{ total_records }} <i class="bi bi-layers icon"></i></h3>
                            <p>Total Records</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 mb-3">
                        <div class="card-box bg-blue text-white">
                            <h3>{{ total_slots }} <i class="bi bi-check-circle icon"></i></h3>
                            <p>Total Parking Slots</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}  