{% extends 'base.html' %}

{% block content %}
            <!-- MAIN CONTENT -->
    <div class="col-12 col-md-9 col-lg-10 p-3">
 
        <div class="card">
 
            <!-- TITLE -->
            <div class="card-header">
                Reports 
            </div>
 
            <div class="card-body">
 
                <!-- DATE FILTER -->
                
                    
 
                    
            
                 <div class="card-header d-flex gap-2 mb-4">
                   <i class="bi bi-search"></i>
                   Search Data 
                   <form method="GET" action="{% url 'reports' %}">
    <div class="d-flex gap-2 mb-4">

        <input type="text"
       name="vehicle_number"
       class="form-control"
       placeholder="Enter Vehicle Number">

        <button type="submit" class="btn btn-primary">
            Search
        </button>

    </div>
</form> 
                 </div>            
 
                <!-- REPORT TABLE -->
                <div class="table-responsive">
                    <table class="table table-bordered table-striped text-center">
                        <thead class="thead-light">
                            <tr>
                                <th>#</th>
                                <th>Vehicle Number</th>
                                <th>Type</th>
                                <th>Street</th>
                                <th>Fine</th>
                                <th> Time</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
 
                        <tbody>

{% for v in vehicles %}
<tr>

    <td>{{ v.id }}</td>
    <td>{{ v.vehicle_number }}</td>
    <td>{{ v.vehicle_type }}</td>
    <td>{{ v.area_no }}</td>
    <td>${{ v.charge }}</td>
    <td>{{ v.arrival_time|date:"d M Y H:i" }}</td>

    <td>
        {% if v.status == "Parked" %}
            <span class="badge bg-success">Parked</span>
        {% else %}
            <span class="badge bg-danger">Leaved</span>
        {% endif %}
    </td>

    <td>
        <a href="?receipt={{ v.id }}"
           class="btn btn-primary btn-sm">
            Receipt
        </a>
    </td>

</tr>
{% endfor %}

</tbody>
                    </table>
                    {% if receipt %}

<div class="card mt-4">

    <div class="card-header bg-success text-white">
        Vehicle Receipt
    </div>

    <div class="card-body">

        <p><strong>Vehicle Number:</strong> {{ receipt.vehicle_number }}</p>

        <p><strong>Vehicle Type:</strong> {{ receipt.vehicle_type }}</p>

        <p><strong>Area Number:</strong> {{ receipt.area_no }}</p>

        <p><strong>Charge:</strong> ${{ receipt.charge }}</p>

        <p><strong>Status:</strong> {{ receipt.status }}</p>

        <a href="{% url 'reports' %}"
           class="btn btn-danger">
            Close Receipt
        </a>

    </div>

</div>

{% endif %}
               
                </div>
 
            </div>
        </div>
 
    </div>
 {% endblock %}
 