{% extends 'base.html' %}

{% block content %}
              
        <div class="card">
            <div class="card-header d-flex gap-2 mb-4">
                <i class="bi bi-search"></i>
                Search Data<small class="text-muted">|Only the records of the last 30 days are available here</small> 
            </div>
            <form method="GET">

    <div class="d-flex gap-2 mb-4">

        <input type="text"
        id="vehicle_number"
       name="vehicle_number"
       class="form-control"
       placeholder="Enter Vehicle Number">

        <button type="submit" class="btn btn-primary">
    Search
</button>

<a href="{% url 'clear_vehicle_search' %}"
   class="btn btn-danger">
    Clear
</a>

    </div>

</form>
            <div class="table-responsive">
                <table class="table table-bordered"id="dataTable">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Vehicle Number</th>
                            <th>Type</th>
                            <th>Area</th>
                            <th>Charge</th>
                            <th>Arrival Time</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody id="vehicle-results">
                        {% for v in searched_vehicle %}

<tr>

    <td>{{ forloop.counter }}</td>

    <td>{{ v.vehicle_number }}</td>

    <td>{{ v.vehicle_type }}</td>

    <td>{{ v.area_no }}</td>

    <td>${{ v.charge }}</td>

    <td>{{ v.arrival_time|date:"d M Y H:i" }}</td>

    <td>

        {% if v.status == "Parked" %}
            <span class="badge bg-success">Parked</span>
        {% else %}
            <span class="badge bg-danger">Leaved</span>
        {% endif %}
        

    </td>
    <td>
        <a href="{% url 'remove_vehicle_search' v.id %}" class="btn btn-danger btn-sm">
            Remove
        </a>
    </td>

</tr>

{% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        
 {% endblock %}